.scoreContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px 22px;
  border-radius: 8px;
  background-color: #f4f3f6;
  width: 100%;
  align-items: center;
}
.circle {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ede8e3;
  border-radius: 50%;
}
.resultType {
  display: flex;
  gap: 16px;
  align-items: center;
}
.result {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #060710;
  text-transform: uppercase;
}
